<section class="about-bg">

<div class="about-text-block">
	<span class="about-text-header">
		WHO ARE WE?
	</span>
	<div class="about-text">
		We are a group of former and current semi-professional gamers. We created this place to better the competitive PC gaming community.
	</div>
	<br><br><br>
	<span class="about-text-header">
		OUR GOAL
	</span>
	<div class="about-text">
		We aim to provide an uninhibited competitive environment for gamers and their teams. We strive to keep things simple and clean, and avoid the over-complications that have frustrated us at other leagues and tournaments.
	</div>

</div>

</section>
