<section data-ng-controller="HomeController">
	<div class="jumbotron">
		<h2>stdio is an experiment</h2>
		<p>
			We wanted to make a public forum that was accountable only to its contributors and sustained completely by it's beneficiaries.  So we made all of the contributors owners with full voting rights on administration issues.  Anyone can contribute.  Sign up <a href="./#!/signup">here</a> to start contributing original content.
		</p>
		<p>
			For the users who find value in the content that they are consuming, and for the content creators who find value in the platform, we ask for contributions enough to simply keep the site running.  We have an extremely lean operating cost.  Want to see what you're paying for?  The finances are published to all of our owners (read: users).  Note: we only accept Bitcoin.  Never used Bitcoin?  It's easy and safe with <a href="https://www.coinbase.com">Coinbase</a> or <a href="https://www.circle.com">Circle</a>.
		</p>

		<h2>how does it work?</h2>
		<p>
			Sign up <a href="./#!/signup">here</a> and see for yourself.
		</p>
		<p>
			For now, content is limited to text.  As other users comment on and "upvote" (thanks reddit) your content, you are awarded *kismet*.  Kismet is a token, a title to ownership of stdio.  Kismet derives from a Turkish word, something like "fate". As an owner you now hold the fate of stdio in your hands- treat your new property with care.
		</p>
		<p>
			As a holder of kismet and stdio owner, you now have access to the stdio boardroom.  Here you can see the operating budget, a breakdown of the other owners, the treasury, and the scheduled shareholder voting sessions.  In the boardroom you can find a monthly vote on proposals, effectively managing the site's policies and operating procedures.  Any owner may submit a proposal.  Don't feel like running a website in your spare time?  Set to autovote in line with a platform or another user.
		</p>
	
		<h2>why the experiment?</h2>
		<p>
			The internet is in the midst of a consumer identity crisis. The consumer has yet to figure out a smooth way to pay for content.  stdio presents a clean platform, free from advertising and wall-street money. Create anything, no outside pressure.
		</p>
		<p>
			This model requires financial contributions directly from those who benefit from the platform.  That means you pay for your content.  It means you can also decide exactly when it's no longer worth contributing to. We believe a few recent technological advancements will allow this experiment to succeed where others have failed.  Of course investment in cloud computing means that every day, server space is the cheapest it's ever been.  At the same time, the rise of digital currencies brings about revolutionary new financial possibilities.  Micro-transactions make crowdfunding more efficient while digital ownership brings a flood of new management possibilities. 
		</p>
		<p>
			A million users could run a platform for pennies per year as they influence it's course in cryptographically secure elections, backed by the largest computational force on Earth: the Bitcoin blockchain.  What you do
		</p>
		<h2>why Bitcoin?</h2>
		<p>
			Bitcoin is the next generation financial tool that makes stdio work.  Our financial transparency is made possible by Bitcoin's open ledger, while our crowd-sourced revenue model relies on digital money's micro-transact-ability.  Our mass ownership title system and shareholder voting system run on Counterparty's Bitcoin 2.0 technology.
		</p>
		<h2>its all yours</h2>
		<p>
			Now go, create, consume.  Be an artist and a journalist and a reader.  Share everything you want with whoever you want.  But remember: stdio is in your hands. Guide it with care and sustain it when it brings value.  And one day, if it's become too... much: let it die.
		</p>
	<div class="jumbotron">
</section>