<section data-ng-controller="HomeController">
	<div class="jumbotron">
		<h2>stdio is an experiment</h2>
		<p>
			We wanted to create a sustainable platform for text content. So we tried two things: we made our content creators our owners and we told them: if they wanted to keep it, they just had to sustain it.
		</p>
		<p>
			The idea is very simple: the users own stdio and the sustenance of the website falls on those who find value in it.  The owners (read: users) control the bearing of the ship with a quarterly vote. Ownership and elections are secured by the Bitcoin Blockchain using the Counterparty Protocol.
		</p>

		<h2>how does it work?</h2>
		<p>
			Sign up <a href="./#!/signup">here</a> and see for yourself.
		</p>
		<p>
			Content is text.  Post any text you want.  As other users comment on and "upvote" (thanks reddit) your content, you get *kismet*.  KSMT is a secure token, a title to ownership of stdio and a vote in every quarterly election. As an owner of KSMT you now hold the fate of stdio in your hands- treat your new property with care.
		</p>
		<p>
			As a holder of kismet and stdio owner, you now have access to the stdio boardroom.  Here you can see the operating budget, a breakdown of the other owners, the treasury, and the scheduled shareholder voting sessions.  This is how every user can influence the site's policies and operating procedures.
		</p>

		<h2>why the experiment?</h2>
		<p>
			The internet is in the midst of a consumer identity crisis: the consumer has yet to figure out a smooth way to pay for content.  stdio presents a clean platform, free from advertising and wall-street money. Create anything, no outside pressure.
		</p>
		<p>
			We think our experiment has the chance to succeed where others have failed due to recent leaps in digital economics.  Micro-transactions make crowdfunding more efficient while blockchain-based digital ownership brings a flood of new management possibilities. All the while, rapid investment in cloud computing means every day, server space is the cheapest it has ever been.
		</p>
		<p>
			Vast communities of users can run a platform for pennies per year.  That price is the highest it will ever be <i>today</i>.  Even better, users can influence the platform's course through cryptographically-secured elections, backed by the largest computational force on Earth: the Bitcoin blockchain.
		</p>
		<h2>why Bitcoin?</h2>
		<p>
			Bitcoin is the next generation financial tool that makes stdio work.  Our financial transparency is made possible by Bitcoin's open ledger, while our crowd-sourced revenue model relies on digital money's micro-transact-ability.  Our mass ownership title system and shareholder voting system run on Counterparty's Bitcoin 2.0 technology.
		</p>
		<h2>its all yours</h2>
		<p>
			Now go- create, consume.  Be an artist and a journalist and a reader.  Share everything you want with whoever you want.  But remember: stdio is yours. Raise it with care and sustain it as long as it brings you value.  But don't forget, it's just a website.  One day, when it becomes too... much: let it die.
		</p>
	<div class="jumbotron">
</section>