<section style="background:black" data-ng-controller="ArticlesController" data-ng-init="find()">

  <div class="row" style="min-width:1300px">
    <div class="col-xs-9 news-container" style="min-height:200px;">
      <img src="modules/core/img/5v5assault-league.png">
      <img src="modules/core/img/8v8hotwire-league.png">
    </div>
    <div class="col-xs-2">
      <div class="side-link"><a href="#!/">News</a></div>
      <div class="side-link"><a href="#!/teams">Teams</a></div>
      <div class="side-link"><a href="#!/scrim">Scrim Finder</a></div>
    </div>

  </div>
</section>
