<div ng-cloak ng-controller="HeaderController" style="height:100vh; padding-top:2em; color: #F7730E; background: url('http://i.imgur.com/MCFN861.png')">
  <img style="width: 65%; display: block; margin: auto" src="/modules/core/img/logo-lg-clear.png">
  <div style="text-align:center; font-weigt: 900" >
    <span style="font-size: 2em; margin: 0 0.2em 0 0.5em">{{counter.day}}</span><span style="font-size: 1em">DAYS</span>
    <span style="font-size: 2em; margin: 0 0.2em 0 0.5em">{{counter.hour}}</span><span style="font-size: 1em">HOURS</span>
    <span style="font-size: 2em; margin: 0 0.2em 0 0.5em">{{counter.min}}</span><span ng-click="showCountdownLogin = !showCountdownLogin" style="font-size: 1em">MINUTES</span>
    <span style="font-size: 2em; margin: 0 0.2em 0 0.5em">{{counter.sec}}</span><span style="font-size: 1em">SECONDS</span>
  </div>
  <div ng-show="showCountdownLogin">
    <div ng-include="'/modules/users/views/authentication/signin.client.view.html'"></div>
  </div>

</div>
