<div class="top-bar" data-ng-controller="HeaderController" ng-init="getBanner()">
	<div class="top-first-row"> </div>
	<div class="top-banner-line"> </div>
	<a href="/#bfh/"><img class="top-logo" src="modules/core/img/logo.png"></a>
	<a href="/#bfh/"><img class="top-banner" src="modules/core/img/banner.png"></a>

	<!--
		<marquee class="top-scroll" behavior="scroll" direction="left">{{banner.value}}<span style="color:black">fuckingstupidbufferug</span></marquee>
	-->
	<span ng-hide="editBanner" ng-bind-html="bannerHtml"></span>
	<input type="text" ng-show="editBanner" ng-model="newBanner" class="top-scroll" placeholder="type here...">
	<span class="top-scroll-edit" ng-show="adminMode" title="Edit/Save" ng-click="switchEditBanner()">
			<a href=""><i class="glyphicon glyphicon-edit"></i></a>
	</span>

	<div class="top-links-row">

		<a href="/#bfh/about" class="top-bar-link">About Us</a>
		<span style="color:white; font-size:1.5em"> | </span>
		<span data-ng-hide="authentication.user">
			<span ui-route="/signup" ng-class="{active: $uiRoute}">
				<a class="top-bar-link" href="/#bfh/signup">Sign Up</a>
			</span>
			<span style="color:white; font-size:1.5em"> | </span>
			<span ui-route="/signin" ng-class="{active: $uiRoute}">
				<a class="top-bar-link" href="/#bfh/signin">Sign In</a>
			</span>
		</span>

		<span data-ng-show="authentication.user">
			<img class="avatar" ng-src="{{authentication.user.avatar}}">
			<span class="dropdown">
				<a href="#" class="dropdown-toggle top-bar-link" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.username"></span>
				</a>
				<span class="dropdown-menu dropdown-menu-right ek-dropdown">
					<li>
			 			<a href ng-click="goToMyTeam()">My Team</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/#bfh/settings/profile">Edit Profile</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#bfh/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</span>
			</span>
		</span>
	</div>
	<span class="admin-mode" ng-show="authentication.user && authentication.user.roles.indexOf('admin') != -1">
		<a class='admin-control' ng-show="adminMode" href="#bfh/manage-rules">
			Manage Rules
		</a>
		<a class='admin-control' ng-show="adminMode" href="#bfh/manage-comps">
			Manage Comps
		</a>
		<a class='admin-control' href="" ng-click="switchAdminMode()">
			Admin Mode
		</a>

	</span>

	<div class="top-bottom-row"> </div>
	<div class="top-gradient"> </div>

<!--
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#bfh/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#bfh/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>
	</nav>
-->
</div>
