<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<h1>stdio</h1>
			</div>
		</div>
		<br>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
	<div class="text-center">
		<h2>a platform for your original content - owned and operated by you</h2>
	</div>
	</div>
</section>