.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

html  {
	height: 100%;
}

body  {
	height: calc(100% - 10px);
}

/* unvisited link */
a:link {
	color: #FF7000;
	outline:0;
}

/* visited link */
a:visited {
	color: #FF7000;
	outline:0;
}

/* mouse over link */
a:hover {
	color: #FFFFFF;
}

/* selected link */
a:active {
	color: #777777;
	outline:0;
}

.side-link > a{
	color:black !important;
	font-size:30px;
	font-weight: 900;
	text-shadow:  1px 0 0 #FF7000,
	-1px 0 0 #FF7000,
	0 1px 0 #FF7000,
	0 -1px 0 #FF7000,
	1px 1px 0 #FF7000,
	-1px -1px 0 #FF7000,
	-1px 1px 0 #FF7000,
	1px -1px 0 #FF7000;
}

.side-link > a:hover {
	color: #FF7000 !important;
	text-shadow:none;
}

.about-bg {
	height: 900px;
	background: url("/modules/core/img/about-bg-900.jpg");
	background-repeat: no-repeat;
	margin-right: -15px;
	position: relative;
}

.about-text-block {
	position: absolute;
	color: #FF9000;
	top: 5%;
	left: 610px;
	max-width: 600px;
}

.about-text-header {
	font-size:2em;
	font-weight: 900;
	color: white;
	text-align: center;
	border: solid;
	border-width: 0 0 2px 0;
	border-color: #DD6000;
	text-shadow:  1px 0 0 #DD6000,
	-1px 0 0 #DD6000,
	0 1px 0 #DD6000,
	0 -1px 0 #DD6000,
	1px 1px 0 #DD6000,
	-1px -1px 0 #DD6000,
	-1px 1px 0 #DD6000,
	1px -1px 0 #DD6000;
}

.about-text {
	color: #DD6000;
	text-align: left;
	margin-left: 75px;
	/*width: 250px;*/
}

.top-bar {
	background: black;
	/*border: solid;
	border-width: 1px 1px 1px 1px;
	border-color: black;*/
	background-clip: border-box;
	min-width: 1250px;
	height: 250px;
}

.row {
	margin-right:15px;
}

.top-first-row {
	margin-top:10px;
	border:solid;
	border-width: 1px 0 0 0;
	border-color: #777777;
	width:100%;
}

.head-min-width {
	min-width: 1250px;
}

.top-logo {
	margin-left: 5px;
	margin-top: 5px;
	width:239px;
	height:160px;
}

.top-banner-line {
	position:absolute;
	top: 55px;
	left: 400px;
	width: calc(100% - 400px);
	min-width:850px;
	border: solid;
	border-width: 2px 0 0 0;
	border-color: #333333;
	z-index: 1;
	overflow-x:hidden;
}

@media only screen and (min-width: 1900px) {
	.top-banner-line {
		position:absolute;
		top: 55px;
		left: 800px;
		width: calc(100% - 800px);
		min-width:850px;
		border: solid;
		border-width: 2px 0 0 0;
		border-color: #333333;
		z-index: 1;
		overflow-x:hidden;
	}
}

.top-banner {
	position:relative;
	border: solid;
	border-width: 2px;
	border-color: #777777;
	margin-left: 15px;
	margin-top:20px;
	height: 119px;
	width: 600px;
	z-index: 2;
}

.top-scroll {
	color:white;
	margin-left:13px;
	width: 604px;
	border: solid;
	border-width: 1px;
	border-color: #555555;
	margin-top: 2px;
	background: none;
}

.top-scroll-edit {
	position:absolute;
	margin-left: 625px;
	margin-top: -21px;
}

.top-links-row {
	position:absolute;
	right:0;
	margin-top: 140px;
	text-align: right;
}

.admin-mode {
	position:absolute;
	top: 190px;
	right: 20px;
	align: right;
	color: #FF9000;
	z-index: 3;
}

.top-bar-link {
	color:orange;
	font-size:1.5em;
	margin-right: 7px;
	margin-left: 7px;
}

.top-first-row-2 {
	position:relative;
	margin-top:10px;
	border:solid;
	border-width: 1px 0 0 0;
	border-color: blue; /*#777777;*/
	width:100%;
	min-width: 1300px;
}

.top-bottom-row {
	position:relative;
	margin-top: 15px;
	z-index: 1;
	border: solid;
	border-width: 1px 0 0 0;
	border-color:white;
	width: 100%;
	min-width:100px;
}

.top-gradient {
	position:relative;
	left: 0;
	height:40px;
	width: 100%;
	min-width:100px;
	background: -webkit-linear-gradient(black, #222222, #111111); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(black, #222222, #111111); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(black, #222222, #111111); /* For Firefox 3.6 to 15 */
	background: linear-gradient(black, #222222, #111111); /* Standard syntax */
	z-index: 1;
}


#outer-view-container {
	height: calc(100% - 260px);
	min-width: 1300px;
	width: 100%;
}

.view-container {
	border:solid;
	border-width:5px 5px 0 0;
	border-color:#555555;
	margin-top: -20px;
	min-width: 1000px;
/*	min-height: 200px; */
	min-height: calc(100% + 30px);
	overflow-y: hidden;
}

.avatar {
	position:absolute;
	width:75px;
	height:75px;
	top: -80px;
	right: 10px;
	border: 1px solid #777777;
}

.ek-dropdown {
	background:black;
	border: 2px solid white;
}

.ek-dropdown a{
	color: #FF7000 !important;
	text-shadow:  1px 0 0 #000000,
	-1px 0 0 #000000,
	0 1px 0 #000000,
	0 -1px 0 #000000,
	1px 1px 0 #000000,
	-1px -1px 0 #000000,
	-1px 1px 0 #000000,
	1px -1px 0 #000000;

}
