.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
public/dist/*
app/tests/coverage/
.bower-*/
.idea/
config/sslcert/*.pem
config/env/development.js
access.log
bower_components
