.comp-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  width: calc(100% + 25px);
  padding: 10px 0 15px 0;
}

.comp-section-title {
  color: #FF9000;
  font-weight: 900;
  font-size: 0.9em;
  margin-bottom: 10px;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.banner-outer {
  /*
  width: 300px;
  margin: 10px;
  display:inline-block;
  */
  min-width: 250px;
  margin-left: 15px;
}

.banner-container {
  width: 100%;
  height: 610px;
  color: #FF9000;
  padding-right: 5px;
  position:relative;
}

.comp-banner {
  width: 225px;
}

.big-comp-banner {
  width: 450px;
  /*height: 800px;*/
}

.comp-links-container {
  position: absolute;
  right:0;
  top: 300px;
  color: #FF9000;
  text-align: center;
}

.comp-links {
  margin: 15px;
  font-size:1.3em;
}

.matchup-outer {
  border: solid;
  border-color: #555555;
  border-width: 0 0 0 3px;
  padding-left: 20px;
  padding-right: 10px;
	max-width:55%;
}

.manage-matchup-container {
  width: 100%;
  min-height: 300px;
  color: #777777;
  border: 1px solid #555555;
  word-wrap: break-word;
  background: #0c0c0c;
  position: relative;
  padding: 15px;
	word-wrap: break-word;
}

.matchup-container {
  width: 100%;
  height: 300px;
  color: #777777;
  border: 1px solid #555555;
  word-wrap: break-word;
  background: #0c0c0c;
  position: relative;
  padding: 15px;
	word-wrap: break-word;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap; /* firefox */
}

.matchup {
	width:180px;
	height: 85px;
	margin: 5px 50px 0 0;
	word-wrap: break-word;
	display: inline-block;
	position:relative;
	text-align: center;
}

.home-img {
	position:absolute;
	padding: 1px;
	border: 1px solid #555555;
	top: 5px;
	left: 5px;
	width: 75px;
	height: 75px;
}

.v{
	position: absolute;
	color: #FF7000;
	top: 40px;
	left: 83px;
}

.away-img {
	position:absolute;
	padding: 1px;
	border: 1px solid #555555;
	top: 5px;
	right: 5px;
	width: 75px;
	height: 75px;
}

.map-container {
  width: 100%;
  color: #FF9000;
  padding: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  margin: 30px 0 0 0;
	border: 1px solid blue;
}

.current-map {
  display: inline-block;
  position: relative;
	margin:0;
	padding:0 30px 0 0;
}

.current-map-img {
/*
  width: 600px;
  height: 300px;
*/
  border: 1px solid #555555;
}

.map-list {
  border: 1px solid #555555;
  background: #0c0c0c;
  color: #777777;
  position: relative;
	padding:0;
	margin:0;
	min-height:320px;
}

.ranking-outer {
  min-width: 200px;
}

.ranking-container {
  width: 100%;
  height: 650px;
  color: #777777;
  border: 1px solid #555555;
  background: #0c0c0c;
  padding: 5px;
}


.map-controls {
  margin: 45px 0 0 0;
}

.manage-comp-input {
  background: #111111;
  border: 1px solid #555555;
  color: #FF9000;
	display: inline;
}
