.comp-entrance-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: nowrap; /* Safari 6.1+ */
	flex-wrap: nowrap; /* firefox */
	align-items: flex-start;
	-webkit-align-items: flex-start;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;

	margin-left: -10px;
	margin-right: 10px;

	background: black;
}

.comp-entrance {
	display: inline-block;
	margin: 2px;
	border: 1px solid black;
}

.comp-entrance:hover {
	border: 1px solid orange;
}

.comp-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	width: 100%;

  padding: 5px 0 20px 0;
	margin: 0 0 0 -10px;
}

.comp-section-title {
  color: #FF9000;
  font-weight: 900;
  font-size: 0.9em;
  margin-bottom: 10px;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.banner-outer {
  /*
  width: 300px;
  margin: 10px;
	*/
  display:inline-block;
  width: 230px;
}

.banner-container {
  width: 100%;
  height: 610px;
  color: #FF9000;
  padding-right: 5px;
  position:relative;
}

.comp-banner {
  width: 225px;
}

.big-comp-banner {
  width: 450px;
  /*height: 800px;*/
}

.comp-links-container {
  position: absolute;
  right:0;
  top: 300px;
  color: #FF9000;
  text-align: center;
}

.comp-links {
  margin: 15px;
  font-size:1.3em;
}

.matchup-outer {
	display:inline-block;
  border: solid;
	width: calc(100% - 380px);
	min-width: 500px;
  border-color: #555555;
  border-width: 0 0 0 3px;
  padding-left: 15px;
  padding-right: 20px;
}

.manage-matchup-container {
  width: 100%;
  min-height: 100px;
  color: #777777;
  border: 1px solid #555555;
	border-radius: 5px;
  word-wrap: break-word;
  background: #0c0c0c;
  position: relative;
  padding: 15px;
	word-wrap: break-word;
	margin-bottom: 3em;
}

.matchup-container {
  width: 100%;
  min-height: 300px;
  color: #777777;
  border: 1px solid #555555;
	border-radius: 5px;
  word-wrap: break-word;
  background: black;
  position: relative;
  padding: 15px;
	word-wrap: break-word;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap; /* firefox */
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

.matchup {
	width:180px;
	height: 85px;
	margin: 1em;
	word-wrap: break-word;
	display: inline-block;
	position:relative;
	text-align: center;
}

.home-img {
	position:absolute;
	padding: 1px;
	border: 1px solid #555555;
	top: 5px;
	left: 5px;
	width: 75px;
	height: 75px;
}

.v{
	position: absolute;
	color: #FF7000;
	top: 40px;
	left: 83px;
}

.away-img {
	position:absolute;
	padding: 1px;
	border: 1px solid #555555;
	top: 5px;
	right: 5px;
	width: 75px;
	height: 75px;
}

.winner {
	color: green;
	border-color: green;
	border-width:2px;
}
.loser {
	color: red;
	border-color: red;
	border-width:2px;
}
.disputed{
	color: red;
	border-color: red;
	border-width:2px;
}

.home-label{
	position:absolute;
	top:80px;
	left:32px;
	font-size: 0.5em;
	font-weight: 100;
}

.away-label{
	position:absolute;
	top:80px;
	right:32px;
	font-size: 0.5em;
	font-weight: 100;
}

.current-map {
  display: inline-block;
  position: relative;
	margin:0;
	padding:0 20px 0 0;
}

.current-map-img {
/*
  width: 600px;
  height: 300px;
*/
  border: 1px solid #555555;
	border-radius: 5px;
}

.map-list {
  border: 1px solid #555555;
	border-radius: 5px;
  background: #black;
  color: #777777;
  position: relative;
	padding:10px;
	margin:0;
	min-height:320px;
}

.ranking-outer {
  display:inline-block;
  width: 150px;
}

.ranking-container {
  width: 100%;
  height: 650px;
  color: #777777;
  border: 1px solid #555555;
	border-radius: 5px;
  background: black;
  padding: 5px 0 0 5px;
}

.ranking {
	margin-bottom:0.7em;
	font-size:0.9em;
	line-height:1em;
}

.map-controls {
  margin: 45px 0 0 0;
}

.manage-comp-input {
  background: #111111;
  border: 1px solid #555555;
  color: #FF9000;
	display: inline;
}

.manage-rule-input {
  background: #111111;
  border: 1px solid #555555;
  color: #FF9000;
	display: inline;
	width: 100%;
}

.rules {
	margin-bottom: 2em;
	color: #FF7000;
	white-space: pre-wrap;
}
.rule-title {
	color:white;
	font-size:2em;
}
