<section style="background:black" data-ng-controller="TeamsController" data-ng-init="find()">

	<div class="register-team">
		<a href="#bfh/teams/create"><div class="side-link register-team-button"><div class="team-hover">&nbsp</div></div></a>
	</div>
	<div class="grid-container">

<!--
		<div class="team-panel" style="cursor:pointer" ng-click="switchCreateVisible()">
			<img src="/modules/teams/img/team-default.png">
			<span class="team-name">New Team</span>
		</div>

		<div ng-show="createVisible">
			<div ng-include="'/modules/teams/views/create-team.client.view.html'"></div>
		</div>
-->
		<div data-ng-repeat="team in teams" class="team-panel" style="position: relative">
					<span class="overlay-control" data-ng-show="adminMode">
						<a title="Delete" class="admin-control" href="" style="cursor:pointer" data-ng-click="confirmDelete = true">
							<i class="glyphicon glyphicon-trash"></i>
						</a>
						<div style="position: relative" ng-show="confirmDelete">
								<div class="confirmDelete">
								    <div>
								      <a href ng-click="confirmDelete = false" title="Close" class="confirmDelete-close">X</a>

								      <h3>Confirm Delete</h3>
								      <br>
								      <span ng-click="delete(team)" class="delete-button">
								        Delete
								      </span>
								      <span ng-click="confirmDelete = false" class="delete-button">
								        Cancel
								      </span>
								    </div>
								</div>
						</div>
					</span>
			<a href="#bfh/teams/{{team._id}}"><img class="team-img" ng-src="{{team.imageurl}}">
			<span data-ng-bind="team.name" class="team-name"></span></a>

		</div>

	</div>
</section>
