<section ng-controller="TeamsController" data-ng-init="findOne()">

<div class="row">

  <div class="col-xs-5" style="position:relative">
    <div class="team-links-container">
      <div class="team-bio-panel">
        <img class="team-img" ng-src="{{team.imageurl}}">
      </div>
      <br>
      <div class="team-bio-name">
        {{team.name}}
      </div>
      <div class="team-links" ng-hide="team.members.indexOfUsername(authentication.user.username) !== -1">
        <a href ng-click="tryJoinTeam = true" class="team-links"> JOIN TEAM </a>
      </div>
      <div class="team-links" ng-show="team.members.indexOfUsername(authentication.user.username) !== -1">
        <a href ng-click="quitTeam()" class="team-links"> QUIT TEAM </a>
      </div>
			<div style="position: relative" ng-show="tryJoinTeam">
					<div class="confirmDelete">
					    <div style="width:400px">
					      <a href ng-click="tryJoinTeam = false" title="Close" class="confirmDelete-close">X</a>

					      <h3>Password to join?</h3>
					      <br>
                <input class="manage-comp-input" type="text" ng-model="joinpassword" placeholder="Password?" required>
					      <span ng-click="joinTeam()" class="delete-button">
					        Join
					      </span>
					      <span ng-click="tryJoinTeam = false" class="delete-button">
					        Cancel
					      </span>
                <div ng-show="errText">
                  {{errText}}
                </div>
					    </div>
					</div>
			</div>


      <div class="team-links">
        <a href class="team-links"> CONTACT </a>
      </div>
    </div>
  </div>

  <div class="col-xs-7">
    <div class="team-bio-container">

      <div class="team-bio-title">
        BIO <i ng-show="authentication.user._id === team.founder || (authentication.user && authentication.user.roles.indexOf('admin') !== -1)" ng-click="processBio()" class="team-edit-control glyphicon glyphicon-pencil" title="edit bio"></i>
      </div>

      <div class="team-bio">
        <span ng-show="!editBio">{{team.description}}</span>
        <textarea ng-show="editBio" class="edit-team-bio" placeholder="Write about your team" data-ng-model="team.description"></textarea>
      </div>

      <div class="team-bottom-container">

        <div class="team-member-container">
          <div class="member-img-container" ng-repeat="member in team.members">
            <img class="avatar-inline" title="{{member.username}}" ng-src="{{member.avatar}}">
            <span ng-bind="member.username" class="team-name"></span>
          </div>
        </div>

        <div class="team-info-container">
          <div class="team-bio-title" style="margin: -3px 0 0 -3px">
            TEAM INFO
          </div>

          <div class="team-info">
            <div class="team-info-bit">HOMEPAGE:</div>
            <div class="team-info-bit">YEAR FOUNDED:</div>
            <div class="team-info-bit">FAVORITE COLORS:</div>
            <div class="team-info-bit">RECRUITMENT STATUS:</div>
            <div class="team-info-bit">SPONSORSHIPS:</div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

</section>
