<section ng-controller="TeamsController" data-ng-init="findOne()">

<div class="row">

  <div class="col-xs-5" style="position:relative">
    <div class="team-links-container">
      <div class="team-bio-panel">
        <img class="team-img" ng-src="{{team.imageurl}}">
        <div class="change-img-control" ng-show="showTeamControls">
          <a href ng-show="!showEditImage && showTeamControls" ng-click="showEditImage = !showEditImage" title="Edit image" class="glyphicon glyphicon-pencil"></a>
          <a href ng-show="showEditImage && showTeamControls" ng-click="saveTeamImg()" class="glyphicon glyphicon-check">save</a>
        </div>
        <input type="text" ng-model="team.imageurl" ng-show="showEditImage && showTeamControls" class="change-img-input">
      </div>
      <br>
      <div class="team-bio-name">
        {{team.name}}
      </div>
      <div class="team-links" ng-hide="team.members.indexOfUsername(authentication.user.username) !== -1">
        <a href ng-click="tryJoinTeam = true" class="team-links"> JOIN TEAM </a>
      </div>
      <div class="team-links" ng-show="team.members.indexOfUsername(authentication.user.username) !== -1">
        <a href ng-click="quitTeam()" class="team-links"> QUIT TEAM </a>
      </div>
			<div style="position: relative" ng-show="tryJoinTeam">
					<div class="confirmDelete">
					    <div style="width:400px">
					      <a href ng-click="tryJoinTeam = false" title="Close" class="confirmDelete-close">X</a>

					      <h3>Password to join?</h3>
					      <br>
                <input class="manage-comp-input" type="text" ng-model="joinpassword" placeholder="Password?" required>
					      <span ng-click="joinTeam()" class="delete-button">
					        Join
					      </span>
					      <span ng-click="tryJoinTeam = false" class="delete-button">
					        Cancel
					      </span>
                <div ng-show="errText">
                  {{errText}}
                </div>
					    </div>
					</div>
			</div>

      <!--
      <div class="team-links">
        <a href class="team-links"> CONTACT </a>
      </div>
      -->
      <div class="team-links" ng-show="canEditStuff()">
        <a href ng-click="showTeamControls = !showTeamControls" class="team-links"> EDIT MODE </a>
      </div>

      <div class="team-links" ng-show="canEditStuff()">
        <a href ng-click="changingPassword = true" class="team-links"> CHANGE PASSWORD </a>
      </div>
			<div style="position: relative" ng-show="changingPassword">
					<div class="confirmDelete">
					    <div style="width:400px">
					      <a href ng-click="changingPassword = false" title="Close" class="confirmDelete-close">X</a>

					      <h3>New Password?</h3>
					      <br>
                <input class="manage-comp-input" type="text" ng-model="joinpassword" placeholder="" required>
					      <span ng-click="updatePassword()" class="delete-button">
					        Save
					      </span>
					      <span ng-click="changingPassword = false" class="delete-button">
					        Cancel
					      </span>
                <div ng-show="errText">
                  {{errText}}
                </div>
					    </div>
					</div>
			</div>


    </div>
  </div>

  <div class="col-xs-7">
    <div class="team-bio-container">

      <div class="team-bio-title">
        BIO
        <i ng-show="!editBio && showTeamControls" ng-click="processBio()" class="team-edit-control glyphicon glyphicon-pencil" title="edit bio"></i>
        <i ng-show="editBio && showTeamControls" ng-click="processBio()" class="team-edit-control glyphicon glyphicon-check">save</i>
      </div>

      <div class="team-bio">
        <span ng-show="!editBio && showTeamControls">{{team.description}}</span>
        <textarea ng-show="editBio && showTeamControls" class="edit-team-bio" placeholder="Write about your team" data-ng-model="team.description"></textarea>
      </div>

      <div class="team-bottom-container">

        <div class="team-member-container">
          <div class="member-img-container" ng-repeat="member in team.members">
            <img class="avatar-inline" title="{{member.username}}" ng-src="{{member.avatar}}">

            <span class="team-name">
              <i ng-show="member._id === team.founder" title="Founder" style="color:red" class="glyphicon glyphicon-star"></i>
              <i ng-show="isCaptain(member.username)" title="Captain" class="glyphicon glyphicon-star"></i>
              {{member.username}}
            </span>
            <span class="kick-control" ng-show="showTeamControls">
  						<a title="Kick" class="admin-control" href="" style="cursor:pointer" ng-click="kickMember(member)">
  							X
  						</a>
            </span>
            <span class="promote-control" ng-show="showTeamControls">
  						<a title="Promote to captain" ng-show="!isCaptain(member.username)" class="admin-control" href="" style="cursor:pointer" data-ng-click="promote(member.username)">
  							<i class="glyphicon glyphicon-star"></i>
  						</a>
  						<a title="Demote" ng-show="isCaptain(member.username)" class="admin-control" href="" style="cursor:pointer" data-ng-click="demote(member.username)">
  							<i class="glyphicon glyphicon-minus"></i>
  						</a>
            </span>
          </div>
        </div>
        <div class="team-info-container">
          <div class="team-bio-title" style="margin: -3px 0 0 -3px">
            TEAM INFO
          </div>

          <div class="team-info">
            <div ng-repeat="item in teamProfileAnswers track by $index">
              <div class="team-info-bit" ng-show="!editingAnswers">
                {{item.key}}&nbsp
                <span class="profile-answer">{{item.answer}}</span>
                &nbsp<i ng-show="showTeamControls" ng-click="editingAnswers = !editingAnswers" class="team-edit-control glyphicon glyphicon-pencil" title="edit"></i>
              </div>
              <div class="team-info-bit" ng-show="editingAnswers && showTeamControls">
                {{item.key}}&nbsp<input type='text' class="edit-answer profile-answer" ng-model="item.answer">&nbsp<i ng-show="showTeamControls" ng-click="saveTeamProfileAnswers(this)" class="team-edit-control glyphicon glyphicon-check" title="save">save</i>
              </div>
            </div>

            <div ng-show="adminMode">
              <br>
              <br>
              <div ng-repeat="item in teamProfileItems track by $index">
                {{$index+1}}:<input ng-model="teamProfileItems[$index]" class="manage-comp-input">
                <a href ng-click="teamProfileItems.splice($index, 1)">remove</a>
              </div>
              <a href ng-click="teamProfileItems.push('')">add an item</a>
              &nbsp-&nbsp<a href ng-click="saveTeamProfileItems()">save</a>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
</div>

</section>
