<section class="news-post" data-ng-controller="ArticlesController" data-ng-init="findOne()">
		<form name="articleForm" class="form-horizontal" style="padding:15px" data-ng-submit="update(articleForm.$valid)" novalidate>
			<fieldset>

				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.title.$invalid}">
						<input name="title" type="text" data-ng-model="article.title" id="title" class="post-title edit-article-form" placeholder="Title" required>
						<input ng-show="article.parent === 'top'" name="image" type="text" data-ng-model="article.imageurl" id="imageurl" class="post-title edit-article-form" placeholder="Image URL" required>
				</div>


				<div class="form-group">
					<textarea name="content" data-ng-model="article.content" id="content" class="post-full edit-article-form" style="color:#FF7000" cols="30" rows="10" placeholder="Content" required></textarea>
					<div ng-show="submitted && articleForm.content.$invalid" class="help-block">
						<p ng-show="articleForm.content.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>

				<div class="form-group">
					<input type="submit" value="Save" style="font-size: 1.2em" class="msg-button">
				</div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

			</fieldset>
		</form>
</section>
