<section class="news-container" style="background:black" data-ng-controller="ArticlesController" data-ng-init="find()">

	<span class='admin-controls'  style="margin: 5px 20px 0 0" data-ng-show="adminMode">
		<a href="" title="Create a news post" class='admin-control' ng-click="switchCreateVisible()">
				<i class="glyphicon glyphicon-pencil"></i> New Post
		</a>
	</span>

	<div ng-show="createVisible" class="news-post row article-container">
		<div style="width:480px; display:inline-block">
			<div class="news-image" style="height:270px"></div>
		</div>
		<div class="col-xs-12 post-container" style="display:inline-block">
			<form name="articleForm" data-ng-submit="create()" novalidate>
				<fieldset>

					<input name="title" type="text" data-ng-model="title" id="title" class="post-title" ng-class="userSelectedColor" placeholder="Choose a title" required>
					<div class="image-entry-container">
						<textarea placeholder="Image URL Here" name="imageurl" data-ng-model="imageurl" id="imageurl" class="image-entry"></textarea>
					</div>

					<div class="post" style="width:100%; height: 200px" ng-class="{'dev-mode':devMode}">
							<textarea placeholder="Type here!" name="content" data-ng-model="content" id="content" class="post-full"></textarea>
					</div>
					<input type="submit" style="display:block; color:black" value="Post it!" class="myButton post">
					<span data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
					</span>

				</fieldset>
			</form>
		</div>
	</div>

	<div data-ng-repeat="article in articles" class="article-container" ng-class="{'dev-mode':devMode}">
		<div class="news-post article-container">

			<div class="news-image-container">
				<img class="news-image" ng-src="{{article.imageurl}}">
			</div>

			<div class="post-container">
				<span style="margin-left: 15px" data-ng-show="adminMode">
					<a title="Edit" class="admin-control" href="/#!/articles/{{article._id}}/edit">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
					<a title="Delete" ng-click="confirmDelete = true" class="admin-control" href="" style="cursor:pointer" >
						<i class="glyphicon glyphicon-trash"></i>
					</a>
						<div style="position: relative" ng-show="confirmDelete">
								<div class="confirmDelete">
								    <div>
								      <a href ng-click="confirmDelete = false" title="Close" class="confirmDelete-close">X</a>

								      <h3>Confirm Delete</h3>
								      <br>
								      <span ng-click="remove(article)" class="delete-button">
								        Delete
								      </span>
								      <span ng-click="confirmDelete = false" class="delete-button">
								        Cancel
								      </span>
								    </div>
								</div>
						</div>
				</span>

				<div data-ng-bind="article.title" class="post-title" ng-class="userSelectedColor"></div>

				<div class="post" ng-class="{'dev-mode':devMode}">
					<span ng-show="!showFull"><span class="post-preview" ng-class="{'dev-mode':devMode}" data-ng-bind="article.content.substring(0,850)"></span><span ng-show="article.content.length > 850" ng-click="switchShowFull(this)" style="cursor:pointer" > [...]</span></span>
					<span ng-show="showFull"><span class="post-full" ng-class="{'dev-mode':devMode}" data-ng-bind="article.content"></span><span ng-show="article.content.length > 850" ng-click="switchShowFull(this)" style="cursor:pointer" > [<<<]</span></span>
				</div>
			</div>

		</div>
	</div>

</section>
