<section style="background:black" data-ng-controller="ArticlesController" data-ng-init="listMsgs()">

  <a href><div class="news-post orange-hover" ng-show="!createVisible" ng-click="createVisible = !createVisible">
    New Post
  </div></a>
	<div class="news-post" ng-show="createVisible">
    <span class="msg-avatar-container">
      <img class="avatar-inline" ng-src="{{authentication.user.avatar}}">
    </span>

		<div class="msg-container" style="display:inline-block">
			<form name="articleForm" novalidate>
				<fieldset>
					<input name="title" type="text" data-ng-model="title" id="title" class="post-title" ng-class="userSelectedColor" placeholder="Choose a title" required>

					<div class="post" style="width:100%; height: 200px" ng-class="{'dev-mode':devMode}">
							<textarea placeholder="Type here!" name="content" data-ng-model="content" id="content" class="post-full"></textarea>
					</div>
					<input type="submit" value="Post it!" ng-click="create('msg')" class="">
					<input type="submit" value="Cancel" ng-click="createVisible = !createVisible" class="">

          <span data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
					</span>

				</fieldset>
			</form>
		</div>
	</div>

	<div data-ng-repeat="article in articles" class="news-post">
    <span class="msg-avatar-container">
      <img class="avatar-inline" ng-src="{{article.user.avatar}}">
      <span class="msg-username">
        {{article.user.username}}
      </span>
    </span>

		<div class="msg-container">

			<div data-ng-bind="article.title" class="post-title" ng-class="userSelectedColor"></div>

			<div class="post">
				<span ng-show="!showFull"><span class="post-preview" data-ng-bind="article.content.substring(0,300)"></span><span ng-show="article.content.length > 300" ng-click="switchShowFull(this)" style="cursor:pointer" > [...]</span></span>
				<span ng-show="showFull"><span class="post-full" data-ng-bind="article.content"></span><span ng-show="article.content.length > 300" ng-click="switchShowFull(this)" style="cursor:pointer" > [<<<]</span></span>
			</div>
		</div>

		<span class="msg-controls">
			<a href="/#bfh/articles/{{article._id}}">
				<i class="msg-button">{{article.replies}} Comments</i>
			</a>
			<a ng-show="canEdit(article)" href="/#bfh/articles/{{article._id}}/edit">
				<i class="msg-button">Edit</i>
			</a>
			<a ng-show="canEdit(article)" ng-click="confirmDelete = true" href="">
				<i class="msg-button">Delete</i>
			</a>
				<div style="position: relative" ng-show="confirmDelete">
						<div class="confirmDelete">
						    <div>
						      <a href ng-click="confirmDelete = false" title="Close" class="confirmDelete-close">X</a>

						      <h3>Confirm Delete</h3>
						      <br>
						      <span ng-click="remove(article)" class="delete-button">
						        Delete
						      </span>
						      <span ng-click="confirmDelete = false" class="delete-button">
						        Cancel
						      </span>
						    </div>
						</div>
				</div>
		</span>

	</div>

</section>
