<section class="news-post" data-ng-controller="ArticlesController" data-ng-init="findOne()">


    <span class="msg-avatar-container">
      <img class="avatar-inline" ng-src="{{article.user.avatar}}">
    </span>
		<div class="msg-container view-msg" style="display:inline-block">
			<div>
					<span class="post-header">
						<span style="color:#FF7000" data-ng-bind="article.user.username"></span>
            posted on
						<span data-ng-bind="article.created | date:'mediumDate'"></span>
					</span>

					<span data-ng-show="canEdit(article)">
						<a ng-show="canEdit(article)" href="/#bfh/articles/{{article._id}}/edit">
							<i class="msg-button">Edit</i>
						</a>
						<a ng-show="canEdit(article)" ng-click="confirmDelete = true" href="">
							<i class="msg-button">Delete</i>
						</a>
							<div style="position: relative" ng-show="confirmDelete">
									<div class="confirmDelete">
									    <div>
									      <a href ng-click="confirmDelete = false" title="Close" class="confirmDelete-close">X</a>

									      <h3>Confirm Delete</h3>
									      <br>
									      <span ng-click="remove(article)" class="delete-button">
									        Delete
									      </span>
									      <span ng-click="confirmDelete = false" class="delete-button">
									        Cancel
									      </span>
									    </div>
									</div>
							</div>
					</span>

			</div>

			<div data-ng-bind="article.title" class="post-title" ng-class="userSelectedColor"></div>
		</div>


	<div class="post" ng-class="{'dev-mode':devMode}">
		<span class="post-full" ng-class="{'dev-mode':devMode}" data-ng-bind="article.content"></span>
	<div>

	<div class="post-title comment-buffer">comments:</div>

	<a href ng-hide="showComment" ng-click="showComment = !showComment">
		<i class="msg-button">New Comment</i>
	</a>

	<div class="news-post" ng-show="showComment">

			<form name="articleForm" novalidate>
				<fieldset>
					<div class="post" style="width:100%; height: 50px" ng-class="{'dev-mode':devMode}">
							<textarea placeholder="Type here!" name="content" data-ng-model="content" id="content" class="post-full"></textarea>
					</div>
					<input class="msg-button" type="submit" value="Save" ng-click="createComment()">
					<input class="msg-button" type="submit" value="Cancel" ng-click="showComment = !showComment">

					<span data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
					</span>

				</fieldset>
			</form>
	</div>


	<div ng-repeat="comment in comments" class="news-post">
    <span class="msg-avatar-container">
      <img class="comment-avatar-inline" ng-src="{{comment.user.avatar}}">
      <span class="comment-username">
        {{comment.user.username}}
      </span>
    </span>

		<div class="comment-container">
			<span class="post-header" ng-class="{'dev-mode':devMode}">
				Posted on
				<span data-ng-bind="comment.created | date:'mediumDate'"></span>
			</span>

  		<div class="post" ng-class="{'dev-mode':devMode}">
  			<span class="post-full" ng-class="{'dev-mode':devMode}" data-ng-bind="comment.content"></span>
  		<div>

		</div>

	</div>

<!--
	<form ng-show="showComment" name="articleForm" class="form-horizontal" data-ng-submit="createComment(article)" novalidate>
		<fieldset>
			<div class="form-group">
				<label class="control-label" for="content">Comment</label>
				<div class="controls">
					<textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default">Subbmit</input>
			</div>
			<div data-ng-show="error" class="text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</fieldset>
	</form>
-->

</section>
