
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

/*colors for user setting choices*/

.Red {
  color: #cc3333;
}
.Orange{
  color: #cc9933;
}
.Green{
  color: #33b77b;
}
.Blue{
  color: #337ab7;
}
.Purple{
  color: #9a59b7;
}

.admin-controls {
  position:absolute;
  top: 0;
  right: 0;
  align: right;
  z-index: 3;
}

.news-post {
  position:relative;
  border: 1px solid #777777;
  border-radius: 5px;
  background: black;
  margin: 5px 5px 15px 5px;
  padding: 15px;
}

.image-entry-container {
  position: absolute;
  left: -475px;
  top: 10px;
  width: 440px;
  height: 225px;
  background:black;
  color: white;
  border: none;
}

.image-entry {
  width:100%;
  height:100%;
  background:black;
  color: white;
  border: none;
}

.article-ui {
  color:#aaa;
  cursor:pointer;
}

.article-ui-clicked {
  /*remove color here to apply user selected color*/
  color:#555;
  cursor:pointer;
}

.news-image-container {
  width: 480px;
  min-height: 200px;
  display: inline-block;
}

.news-image {
  border:solid;
  border-width:2px;
  border-color:#777777;
  border-radius: 5px;
  /*margin-left:15px;*/
  width:466px;
  height:268px;
  padding: 1px;
  margin-left: 5px;
}

.news-image-link:hover {
  border-color: #FF9000;
}

.post-container {
  position: relative;
  display: inline-block;
  width: calc(100% - 485px);
  vertical-align: top;
}

.msg-container {
  position: relative;
  display: inline-block;
  width: calc(100% - 85px);
  margin-left:85px;
  vertical-align: top;
  min-height: 70px;
  margin-bottom: 10px;
}

.view-msg {
  margin-top: 25px;
  margin-bottom: 0;
}

.msg-controls {
  margin: 0 0 0 90px;
}

.comment-buffer {
  padding-top: 50px;
}

.edit-article-form {
  background:black;
  border: 1px solid #777777 !important;
}

.msg-button {
	background: black;
	border:1px solid #555555;
  font-size: 0.8em;
	padding: 1px 3px 1px 3px;
	margin: 2px;
	color: #FF7000;
}

.msg-button:hover {
	color: black;
	background: #FF7000;
  border-color: #FF7000;
}

.msg-avatar-container {
  position:absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #555555;
  padding: 2px;
}

.msg-username {
	position: absolute;
  bottom: -20px;
  left: -5px;
	color: #FF7000;
	text-align: center;
	font-size: 0.75em;
	word-wrap: break-word;
  width: 90px;
}

.comment-container {
  position: relative;
  display: inline-block;
  margin-left:85px;
  vertical-align: top;
  min-height: 85px;
}

.comment-avatar-container {
  position:absolute;
  top: 0;
  left: 0;
  border: 1px solid #555555;
  padding: 1px;
}

.comment-avatar-inline {
	width:75px;
	height:75px;
}

.comment-username {
	position: absolute;
  bottom: -20px;
  left: -5px;
	color: #FF7000;
	text-align: center;
	font-size: 0.75em;
	word-wrap: break-word;
  width: 90px;
  overflow:hidden;
}


.post-title {
  display:inline-block;
  font-size:1.4em;
  font-weight:900;
  color: #999999;
  border:solid;
  border-width: 0 0 1px 0;
  border-color: #555555;
  width:100%;
}

input.post-title {
  background:none;
}

textarea.post-full {
  width: 100%;
  height: 100%;
  background: black;
  border:none;
}

.post-title-entry {
  display:inline-block;
  font-size:20px;
  padding: 0 0 5px 0;
  margin: 0 0 0 25px;
  width:75%;
  /*color: #337ab7;*/
  border:none;
  border-bottom: 1px solid #ccc;
  /*outline:none;*/
}

.post-entry {
  display:inline-block;
  padding: 0 0 5px 0;
  margin: 20px 0 0 25px;
  width:75%;
  height:6em;
  color: #666;
  border:none;
  border-bottom: 1px solid #ccc;
  /*outline:none;*/
}

.post-header {
  color:grey;
  font-size: small;
  font-style: italic;
  padding: 0 0 -5px 0;
  margin: 0 0 -5px 0;
  /*border:2px solid orange;*/
}

.post {
  display: inline-block;
  vertical-align: top;
  color: #FF6600;
  width: 100%;
}

.post-preview {
  font-size: 1em;
  width: 100%;
  word-wrap: break-word;
}

.post-full {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  width: 100%;
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.renderButton {
  color: #ddd;
  top: 5px;
}

.renderButtonGlow {
  color: #555;
  top: 5px;
}

.animate-errorPopup {
	position: absolute;
  left:-58px;
  top: 7px;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 9999;
	pointer-events: none;
  opacity:0.8;
  width: 55px;
  font-size:10px;
  text-indent: 5px;
  text-align: center;
  padding: 0, 0, 5px, 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid black;
  background: #f99;
/*background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
*/
}

.animate-errorPopup.ng-hide-add.ng-hide-add-active,
.animate-errorPopup.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
}

.animate-errorPopup.ng-hide{
  opacity: 0;
}
