<section style="background:black" ng-controller="CompController" ng-init="getComp()">

  <div class="col-xs-2" style="display:inline-block">
    <div class="banner-container">
      banner
    </div>
  </div>

  <div class="col-xs-8" style="display:inline-block">
    <div class="matchup-container">
      matchups
      <br>
      {{comp}}
    </div>
    <div class="map-container">
      maps
    </div>
  </div>

  <div class="col-xs-2" style="display:inline-block">
    <div class="ranking-container">
      rankings
    </div>
  </div>

</section>
