<section ng-controller="CompController" ng-init="listRules()">
  <section ng-hide="authentication.user.roles && authentication.user.roles.indexOf('admin') !== -1">
    Only admins may use this page.
  </section>
  <section class="container" ng-show="authentication.user.roles && authentication.user.roles.indexOf('admin') !== -1">

  <div class="row">

    <div class="col-xs-3">
      Choose the rules or settings to edit:
      <br>
      <div ng-repeat="set in ruleSets">
        <a href style="font-size:1.5em" ng-click="selectRules(set._id)">{{set.name}}</a>
      </div>

      <br><br>
      <form name="compForm" novalidate>
        <fieldset>

          <input class="manage-comp-input" type="text" ng-model="ruleSetName" placeholder="Name" required>

          <input type="submit" ng-click="saveNewRuleSet()" style="display:block; color:black" value="Add Rules">
          <span data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
          </span>

        </fieldset>
      </form>
    </div>

    <div class="col-xs-6">
      <div ng-show="selectedRules">

        Name: <input ng-model="selectedRules.name" class="manage-comp-input">
        <br>
        <div style="margin: 1em 0 0 3em">
        <a href ng-click="saveRuleSet()"><i class="glyphicon glyphicon-check"></i>Save changes</a>
              <span style="margin-left: 15px">
        					<a title="Delete" ng-click="confirmDelete = true" class="admin-control" href="" style="cursor:pointer" >
        						<i class="glyphicon glyphicon-trash"></i>Delete this ruleset
        					</a>
        						<div style="position: relative" ng-show="confirmDelete">
        								<div class="confirmDelete">
      								    <div>
      								      <a href ng-click="confirmDelete = false" title="Close" class="confirmDelete-close">X</a>

      								      <h3>Confirm Delete</h3>
      								      <br>
      								      <span ng-click="deleteRuleset()" class="delete-button">
      								        Delete
      								      </span>
      								      <span ng-click="confirmDelete = false" class="delete-button">
      								        Cancel
      								      </span>
      								    </div>
      								</div>
      						</div>
      				</span>
        </div>
        <br>
        test teste
        <br>
        <div ng-repeat="item in selectedRules.value track by $index" style="margin-bottom: 0.5em">
          {{$index+1}}: <a href ng-click="selectedRules.value.splice($index, 1)">remove</a>
          <input ng-model="item.title" class="manage-rule-input">
          <textarea ng-model="item.text" class="manage-rule-input"></textarea>
        </div>
        test test
        <a href ng-click="selectedRules.value.push({title:'', text:''})">add a rule</a>
        <br>
        <br>
      </div>
    </div>

  </div>
  </section>
</section>
