<section class="row" ng-controller="CompController" ng-init="listComps()">
  <section ng-hide="authentication.user.roles && authentication.user.roles.indexOf('admin') !== -1">
    Only admins may use this page.
  </section>
  <section class="comp-container" ng-show="authentication.user.roles && authentication.user.roles.indexOf('admin') !== -1">

  <div class="col-xs-2 banner-outer">
    <div class="banner-container">
      Choose a competition:
      <br>
      <div ng-repeat="comp in competitions">
        <a href ng-click="gatherCompData(comp._id)">{{comp.name}}</a>
      </div>

      <br><br>
      <form name="compForm" novalidate>
        <fieldset>

          <input class="manage-comp-input" type="text" ng-model="compName" placeholder="Name" required>
          <input class="manage-comp-input" type="text" ng-model="compBanner" placeholder="Banner" required>

          <input type="submit" ng-click="createComp()" style="display:block; color:black" value="Add Competition" class="myButton post">
          <span data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
          </span>

        </fieldset>
      </form>


    </div>
  </div>

  <div class="col-xs-8 matchup-outer">
    <div class="matchup-container">
      Currently Managing: <span style="color:white">{{comp.name}}</span>
      <br><a href ng-show="comp" ng-click="saveComp()">save changes</a>

      <div ng-show="comp">
      <br><br>Name: <input ng-model="comp.name" style="width:100%" class="manage-comp-input">
      <br><br>Banner Img: <input ng-model="comp.bannerurl" style="width:100%" class="manage-comp-input">

      <br><br>
      <br><br><span style="margin-left: 15px" data-ng-show="adminMode">
      					<a title="Delete" ng-click="confirmDelete = true" class="admin-control" href="" style="cursor:pointer" >
      						<i class="glyphicon glyphicon-trash"></i>&nbsp Delete this competition
      					</a>
      						<div style="position: relative" ng-show="confirmDelete">
      								<div class="confirmDelete">
      								    <div>
      								      <a href ng-click="confirmDelete = false" title="Close" class="confirmDelete-close">X</a>

      								      <h3>Confirm Delete</h3>
      								      <br>
      								      <span ng-click="delete(comp)" class="delete-button">
      								        Delete
      								      </span>
      								      <span ng-click="confirmDelete = false" class="delete-button">
      								        Cancel
      								      </span>
      								    </div>
      								</div>
      						</div>
      				</span>


      </div>

    <div class="comp-section-title">This Week's Matches</div>
    </div>

    <div class="map-controls" ng-show="comp">
      <div ng-repeat="week in comp.maps">
        {{$index+1}}: <input ng-model="week.map" class="manage-comp-input">
        Img: <input ng-model="week.imageurl" class="manage-comp-input">
        <a href ng-click="comp.maps.splice($index, 1)">remove</a>
      </div>
      <a href ng-click="comp.maps.push({})">add a week</a>
    </div>

    <div class="row" style="margin: 30px 0 0 0">
      <div class="col-xs-8 current-map">
        <img class="img-responsive current-map-img" ng-src="{{comp.maps[comp.currentWeek-1].imageurl}}">
        <div class="comp-section-title">Week {{comp.currentWeek}}: <span style="color:white">{{comp.maps[comp.currentWeek-1].map}}</span></div>
      </div>
      <div class="col-xs-4 map-list">
        <div ng-repeat="week in comp.maps">
          Week {{$index+1}}: {{week.map}}
        </div>
        <div class="comp-section-title">Map List</div>
      </div>
    </div>

  </div>

  <div class="col-xs-2 ranking-outer">
    <div class="ranking-container">
      Choose a team to include: <br>
      <select class="manage-comp-input" ng-model="selectedTeam" ng-options="team.name for team in teams"></select>
      <br><a href ng-show="comp" ng-click="addTeamToComp()">Add Team</a>
      <br>

      <br><br>
      <div ng-repeat="team in rankings">
        {{team.team.name}} - {{team.wins}} - {{team.losses}} - {{team.ties}}

      </div>
    </div>
  </div>

  </section>
</section>
