<section style="margin-right: 20px" data-ng-controller="ScrimController" ng-init="initialize()">

      <div class='scrim-headline-container'>
        <div class = "scrim-title">
          Scrim Finder
        </div>
        <div class = "scrim-headline">
          Post a scrim request on the board, or just chat with other players
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">

          <div class="scrim-container">
            <div ng-hide="createVisible" ng-click="switchCreateVisible()" style="cursor:pointer; color: #FF9000">New Post</div>
            <form ng-show="createVisible" ng-submit="" novalidate>
              <fieldset>
                <img class="scrim-img" ng-src="{{authentication.user.avatar}}">
                <div class="scrim-bit">FORMAT:<input class="scrim-input" ng-model="team" placeholder="who are you" type="text"></div>
                <div class="scrim-bit">   MAP:<input class="scrim-input" ng-model="map" placeholder="operation overlord" type="text"></div>
                <div class="scrim-bit">  TIME:<input class="scrim-input" ng-model="format" placeholder="(8v8, 5v5...)" type="text"></div>
                <br>
                <!--
                <div class = "scrim-desc-container">
                  <textarea class="scrim-desc scrim-bit scrim-input" placeholder="Contact info, notes..." data-ng-model="notes"></textarea>
                </div>
                -->
                <div style="display:flex">
                  <div style="display: inline-block; width: 75px">
                    <input ng-click="createScrim()" type="submit" style="width:75px; color:black" value="Post!">
                  </div>
                  <div style="display: inline-block; width: 75px; cursor:pointer; color:black">
                    <input ng-click="switchCreateVisible()" type="submit" value="Cancel" style="width:75px">
                  </div>
                </div>

                <span data-ng-show="error" class="text-danger">
                  <strong data-ng-bind="error"></strong>
                </span>
              </fieldset>
            </form>
          </div>

          <div data-ng-repeat="scrim in scrims" class="scrim-container">
            <img class="scrim-img" ng-src="{{scrim.imageurl}}">
            <div class="scrim-bit">FORMAT:<span class="scrim-input" ng-bind="scrim.team"></span></div>
            <div class="scrim-bit">   MAP:<span class="scrim-input" ng-bind="scrim.map"></span></div>
            <div class="scrim-bit">  TIME:<span class="scrim-input" ng-bind="scrim.format"></span></div>
            <!--
            <br>
            <div class = "scrim-desc-container">
              <span class="scrim-desc scrim-bit scrim-input" ng-bind="scrim.notes"></span>
            </div>
            -->

          </div>
        </div>
        <div class="col-xs-6">

          <div class = "chat-window">
            <div scroll-glue class="chat-message-container">
              <div style="display:flex" ng-repeat="msg in chatMessages track by $index">
                <span class="chat-user">{{msg.user}}:</span>
                <span class="chat-msg">{{msg.message}}</span>
              </div>
            </div>
            <div class="chat-bar-container">
              <form ng-show="authentication.user" ng-submit="sendChat(chatMsg)">
                <input class = "chat-bar" type="text" ng-model="chatMsg" placeholder="Chat!">
              </form>
              <div class="chat-bar" ng-hide="authentication.user">
                <span> signin or signup to chat</span>
              </div>
            </div>
          </div>

        </div>
      </div>

</section>
