.grid-container {
	min-height:450px;
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;
	flex-wrap: wrap;
}

.team-panel {
	height:200px;
	width:200px;
	display:inline-block;
	margin: 3px;
	border: 1px solid #777777;
/*	cursor: pointer; */
}

.team-image-container {
	text-align: center;
}

.team-name {
	color: #FF7000;
	text-align: center;
	font-size: 0.75em;
}

.team-image {
	height:60px;
	width:60px;
}

.dev-mode {
	border: 2px solid red;
}
