.grid-container {
	min-height:450px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap; /* firefox */
}

.overlay-control {
	margin-left: 15px;
	position:absolute;
	background:black;
	border-radius: 20px;
	padding: 6px 4px 5px 2px;
	bottom: 10px;
	right: 10px;
}

.promote-control {
	position:absolute;
	background:black;
	border-radius: 20px;
	padding: 2px 0 0 0;
	bottom: 0;
	right: 0;
	font-size:0.8em;
}

.kick-control {
	position:absolute;
	background:black;
	padding:0;
	margin:0;
	top: 0;
	right: 0;
	font-size:0.8em;
	font-weight: 900;
}

.change-img-control{
	position:absolute;
	background:black;
	padding:2px 5px 2px 5px;
	border-radius: 20px;
	margin:0;
	top: 5px;
	right: 5px;
	font-size:0.8em;
	font-weight: 900;
}

.change-img-input{
	position:absolute;
	top:2em;
	left:2px;
	width:200px;
	background:black;
	color: #FF9000;
}

.register-team {
	margin: 0 0 0 10px;
}

.register-team-button{
	background: url('/modules/core/img/register-team.png');
	width:204px;
	height:19px;
}

.team-hover:hover {
	position:absolute;
	top: 0;
	left: 0;
	background-color:rgba(255, 255, 255, 0.1);
	width: 204px;
	height: 19px;
	border-radius: 5px;
	z-index: 5;
}

.team-edit-control {
	font-size:0.8em;
	cursor: pointer;
	color: #FF9000;
	letter-spacing: 0 !important;
}

.team-edit-control:hover {
	color: white;
}


.team-bio-panel {
	height:206px;
	width:206px;
	display:inline-block;
	margin: 3px;
	padding: 2px;
	border: 1px solid #555555;
	position: relative;
	/*	cursor: pointer; */
}

.team-panel {
	height:206px;
	width:206px;
	display:inline-block;
	margin: 3px 3px 15px 3px;
	padding: 2px;
	border: 1px solid #555555;
/*	cursor: pointer; */
}

.team-panel:hover {
	border: 1px solid #FF9000;
}

.team-links-container {
	position: absolute;
	right:0;
	color: #FF9000;
	text-align: center;
}

.team-links {
	margin: 15px;
	font-size:1.1em;
}

.team-links a:link {
	color: white;
	outline:0;
}
.team-links a:visited {
	color: white;
	outline:0;
}
.team-links a:hover {
	color: #FF7000;
	outline:0;
}
.team-links a:active {
	color: #FF7000;
	outline:0;
}

.team-bio-name {
	border: solid;
	border-color: #555555;
	border-width: 0 0 1px 0;
	margin: 3px;
	padding: 3px;
	width: 206px;
}

.team-bio-container {
	display:inline-block;
	margin: 3px 0 15px -10px;
	border: 3px solid #333333;
	border-radius: 2px;
	background: #0c0c0c;
	width:80%;
	min-width: 500px;
	word-wrap: break-word;
	min-height: 400px;
}

.team-bio-title {
	margin: 5px 0 0 5px;
	letter-spacing: 0.4em;
	font-family:Times New Roman;
	font-size: 1.5em;
}

.team-bio {
	color: #FF9000;
	margin: 0 15px 0 15px;
	padding: 0 0 25px 0;
	min-height: 100px;
	border: solid;
	border-color: #333333;
	border-width: 0 0 2px 0;
	position: relative;
}

.edit-team-bio {
	position: absolute;
	top:0;
	left:0;
	background: black;
	width: 100%;
	min-height: 5em;
}

.edit-answer {
	background: black;
}


.profile-answer {
	color: #FF9000;
	font-weight: 500;
}

.team-bottom-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.team-member-container {
	flex-grow: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap; /* firefox */
	align-items: flex-start;
	-webkit-align-items: flex-start;
	align-content: flex-start;
	-webkit-align-content: flex-start;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;

	width: 40%;
	padding: 15px 0 15px 15px;
	margin: 0;
}

.member-img-container {
	position: relative;
	width:77px;
	height: 77px;
	border: 1px solid #555555;
	margin: 3px 3px 20px 3px;
	text-align: center;
}

.team-info-container {
	flex-grow:2;
	border: solid;
	border-color: #333333;
	border-width: 0 0 0 2px;
	display: inline-block;
	width:65%;
	padding: 15px 10px 15px 15px;
	margin: 0;
	min-height: 200px;
	position: relative;
	text-wrap: break-word;
}

.team-info {
	font-size:0.8em;
	font-weight: 900;
}

.team-info-bit {
	margin: 10px 0 0 0;
}


.team-image-container {
	text-align: center;
}

.team-img {
	width:200px;
	height: 200px;
}

.team-name {
	color: #FF7000;
	text-align: center;
	font-size: 0.75em;
	word-wrap: break-word;
	position: relative;
}

.captain-star {
	font-size: 1.3em;
	cursor: default;
}

.founder-star {
	color:red;
	font-size: 1.3em;
	cursor: default;
}


.member-name{
	margin-left: -10px;
}

.team-image {
	height:60px;
	width:60px;
}

.dev-mode {
	border: 2px solid red;
}
